<footer>
    <div class="container">
        <nav>
            <app-button text="Home"></app-button>
            <app-button text="Contact Us"></app-button>
        </nav>
    </div>
    
    <!-- socials link -->
    <div class="container">
        <ul>
            <li>Github</li>
            <li>Twitter</li>
            <li>Facebook</li>
        </ul>
    </div>
    
    <!-- credits -->
    <div class="container">
        <p>
            karl glenn eludo | karleludo/SQuartic-Angular
        </p>
    </div>
</footer>