<section class="page-hero">
    <main>
        <h1>Student Satisfaction Survey</h1>
        <p>
            We listen to your concerns, <strong>SQuartic(S<sup>4</sup>)</strong> stands for <strong>S</strong>tudent <strong>S</strong>atisfaction <strong>S</strong>urvey: <strong>S</strong>entiment Analysis.
        </p>

        <div class="cta">
            <app-button text="Start the Survey"></app-button>
        </div>
   </main>
</section>

<!-- TODO: maybe add more sections -->
<!-- TODO: make "about" link in the nav direct to a section called "about" instead of creating a whole page/component -->