<main>
    <h1>Student Satisfaction Survey</h1>
        <div class="container">
            <p>
            We listen to your concerns, <strong>SQuartic(S<sup>4</sup>)</strong> stands for <strong>S</strong>tudent <strong>S</strong>atisfaction <strong>S</strong>urvey: <strong>S</strong>entiment Analysis.
            </p>
            <p>-Guidance and Counseling</p>
        </div>

        <div class="cta">
            <app-button text="Start the Survey"></app-button>
        </div>
</main>

<section class="about">
    <div class="container">
        <h1>About SQuartic</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed sapiente a porro officiis quae nesciunt suscipit quia, at possimus ullam, quis odio, molestiae ipsum dicta expedita. Odit sint tempore eveniet?</p>
    </div>
</section>

<!-- TODO: maybe add more sections -->
<!-- TODO: make "about" link in the nav direct to a section called "about" instead of creating a whole page/component -->