/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap');


$neutral-light: #FDFCF9;
$accent-red: #8A0E18;
$accent-blue: #1373B8;
$accent-gold: #E6B418;
$neutral-dark:#424342;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}